@use 'variables' as v;
@use 'mixins' as m;
@use 'reset';

.App-header{
  width: 100vw;
  background-color: v.$color-bg;
  display: flex;
  justify-content: space-between;
  padding : 2rem 5rem;

  img{
    width: 200px;
  }

  li{
    display: inline-block;
    color: v.$color-text;
    padding-left:2rem
  }
}
